:81 {
        @transform_port_query {
                query XTransformPort=*
        }

        handle @transform_port_query {
                reverse_proxy localhost:{query.XTransformPort} {
                        header_up Host {host}
                        header_up X-Forwarded-For {remote_host}
                        header_up X-Forwarded-Proto {scheme}
                        header_up X-Real-IP {remote_host}
                        header_down X-Frame-Options "ALLOWALL"
                        header_down Content-Security-Policy "frame-ancestors * http: https:; default-src * 'unsafe-inline' 'unsafe-eval' data: blob:;"
                }
        }

        handle {
                root * /home/z/my-project/out
                try_files {path} {path}/index.html {path}.html /index.html
                file_server

                header X-Frame-Options "ALLOWALL"
                header Content-Security-Policy "frame-ancestors * http: https:; default-src * 'unsafe-inline' 'unsafe-eval' data: blob:;"
        }
}
